@font-face {
    font-family: "bladesinger";
    src: url("../fonts/bladesinger.ttf") format("truetype");
}

@font-face {
    font-family: "AlexBrush-Regular";
    src: url("../fonts/AlexBrush-Regular.ttf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    width: 100%;
    height: 200px;
    display: inline-block;
}

.menu {
    position: absolute;
    top: 2rem;
    left: 2rem;
    background-color: #fcc200;
    color: white;
    border: none;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    transition: all .1s;
    z-index: 1;
    font-size: 3rem;
}

.menu:hover {
    background: #35d0ba;
}

nav {
    position: absolute;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    z-index: 2;
}

ul li {
    text-align: center;
    animation: .3s print;
}

ul li .navLink {
    text-decoration: none;
    font-size: 3rem;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
}

ul li .navLink:hover {
    color: #fcc200;
}

.open {
    display: flex;
    justify-content: center;
    align-items: center;
}

.backdrop {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, .9);
    cursor: pointer;
    animation: fade .1s;
    z-index: 1;
}

#logoHeader {
    max-width: 250px;
    max-height: 250px;
    position: absolute;
    left: 43%;
    top: 3rem;
}

.titleHeader {
    position: absolute;
    width: 20%;
    top: 4.5rem;
    right: 0px;
    margin: 0;
    color: white;
    font-size: 1.5rem;
    font-family: "bladesinger", sans-serif;
}

.title {
    text-align: center;
    color: white;
    font-size: 4rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    margin-right: 0;
    margin-bottom: 2rem;
    margin-left: 0;
    font-family: "bladesinger", sans-serif;
    color: #35d0ba;
}

.titleGalery {
    font-size: 2.8rem;
    color: #fcc200;
    margin: 1rem;
    text-transform: uppercase;
}

.boxPicture {
    margin: 1rem;
    justify-content: center;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    max-width: 400px;
    max-height: 400px;
}

.boxVideos {
    margin: 1rem;
    justify-content: center;
    border: solid 1px white;
    border-radius: 5px;
    box-shadow: 1px 1px 1px black;
    max-width: 600px;
    max-height: 600px;
}

.infosFiles {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* MODIFICATION DE L ASPECT RESPONSIVE EN FORMAT IPAD PRO */

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .menu {
        font-size: 2.5rem;
        top: 3rem;
    }

    #logoHeader {
        left: 39%;
    }

    .titleHeader {
        width: 25%;
    }

}

/* MODIFICATION DE L ASPECT RESPONSIVE EN FORMAT IPAD */

@media screen and (min-width: 481px) and (max-width: 768px) {

    .menu {
        font-size: 2rem;
        top: 3rem;
        padding: 1rem 1.3rem;
    }

    #logoHeader {
        left: 38%;
        max-width: 175px;
        max-height: 175px;
    }

    .titleHeader {
        width: 25%;
        font-size: 1.2rem;
    }

    .title {
        font-size: 3.3rem;
        margin-bottom: 2rem;
    }

    .titleGalery {
        font-size: 2.8rem;
    }

    .boxPicture {
        max-width: 600px;
        max-height: 600px;
    }

    .boxVideos {
        max-width: 600px;
        max-height: 600px;
    }

    .infosFiles {
        font-size: 1.2rem;
    }
}

/* MODIFICATION DE L ASPECT RESPONSIVE EN FORMAT SMARTPHONE */

@media screen and (max-width: 480px) {

    .header {
        height: 100px;
    }

    .menu {
        font-size: 1rem;
        top: 2rem;
        left: 1rem;
        padding: 0.7rem 1rem;

    }

    ul li .navLink {
        font-size: 1.5rem;
    }

    #logoHeader {
        max-width: 100px;
        max-height: 100px;
        top: 2rem;
        left: 36%;
    }

    .titleHeader {
        width: 30%;
        font-size: 0.7rem;
        top: 2rem;
    }

    .title {
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .titleGalery {
        font-size: 1.7rem;
    }

    .boxPicture {
        max-width: 300px;
        max-height: 300px;
    }

    .boxVideos {
        max-width: 300px;
        max-height: 300px;
    }
}